:root {
    --header-color: #ffffff;
    --primary-text-color: #212121;
    --second-text-color: #757575;
    --accent-color: #2196f3;
    --third-color: #000000;
    --button-color: #f5f4fa;
}

html {
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
}

img {
    display: block;
}

body {
    font-family: "Roboto", sans-serif;
}


.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.web{
    color: var(--accent-color);
}
.second-web{
    color:var(--third-color)
}
.third-web{
    color: var(--header-color);
}
.pointer {
    cursor: pointer;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}


/* ----Header----- */
.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ececec;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    display: flex;
    margin-right: 93px;
}
.menu-item:not(:last-child) {
    margin-right: 50px;
}
.menu-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}
.header-container {
    display: flex;
    align-items: center;
}
.header-conect {
    margin-left: auto;
    align-items: center;
}

.menu-list {
    display: flex;
}
.header-nav {
    display: flex;
    align-items: center;
}
.contacts {
    display: flex;
}
.menu-link-color {
    color: var(--second-text-color);
}

.menu-link.current {
    color: var(--accent-color);
}
.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}

/* -----Hero------ */

.hero-top{
    background-color: #2f303a;
    padding-top: 200px;
    padding-bottom: 280px;
}
.hero-title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--header-color);
}
.hero-button{
    display: block;
    margin: auto;
}
.hero-after-title{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 696px;
    padding-bottom: 30px;
}
.btn {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--header-color);
    background-color: var(--accent-color);
    border-radius: 4px;
}
.btn:hover {
    background-color: #188ce8;
}
.section-two {
    padding-top: 94px;
}
.section-two-list {
    display: flex;
}
.section-two-item {
    width: 270px;
    height: 101px;
}
.section-two-item {
    width: 270px;
    height: 101px;
}
.section-two-item:not(:last-child) {
    margin-right: 30px;
}
.text-name {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}
.text-item {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-top: 10px;
}
/* ------------------------------- */
.section-three{
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-three-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 50px;
}
.section-three-img{
    Width: 370px;
    height: 294px;
}
.section-three-list{
    display: flex;
}
.section-three-item:not(:last-child){
    margin-right: 30px;
}
/* --------------------- */
.team{
    background-color: var(--button-color);
    padding-top: 94px;
    padding-bottom: 94px;
    padding-right: 215px;
    padding-left: 150px;
}
.team-img{
    width: 270px;
    height: 368px;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 50px;
}
.team-list{
    display: flex;
}
.team-item{
    margin-right: 30px;
}
.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    text-align: center;
    padding-bottom: 10px;
}
.team-after-item {
    padding-bottom: 30px;
    padding-top: 29px;
}
.team-prof{
    font-size: 16px;
    line-height: 1.19px;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    text-align: center;
}

/* ------Footer--------- */

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    display: flex;
    margin-bottom: 20px;
}
.footer {
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-address {
    font-style: inherit;
}
.footer-item:not(:last-child) {
    margin-bottom: 9px;
}
.footer-link {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--header-color);
}
.footer-second-link {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-second-link:hover,
.footer-second-link:focus {
    color: var(--accent-color);
}

/* ------------PORTFOLIO---------------------------- */
.projects {
    display: flex;
    padding-top: 94px;
    padding-bottom: 34px;
}
.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--primary-text-color);
    background-color: var(--accent-color);
    border-radius: 4px;
    border: 1px, var(--accent-color);
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.button:hover,
.button:focus {
    color: var(--header-color);
    background-color: var(--accent-color);
}
.button-light {
    background-color: var(--button-color);
}

.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.project-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}
.project-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.project-btn:not(:first-child) {
    margin-left: 8px;
}
/* -----------project-list------------------ */
.projects-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    padding-bottom: 94px;
    margin-bottom: 30px;
}


